all_workflows.json
{"data":[{"updatedAt":"2026-02-07T22:54:24.000Z","createdAt":"2026-02-04T22:19:37.437Z","id":"9Sw7r7tP7wQstiOb","name":"My workflow","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"ironforge-trigger","options":{}},"id":"a3ccbe9e-4392-4eb9-b157-0bcfd6d0413b","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-400,112],"webhookId":"776e9ed4-b76f-40a2-b4d5-6701a66227c5"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.token }}","operation":"equals","value2":"={{ $env.REMOTE_TRIGGER_SECRET }}"}]}},"id":"8f549bd5-0512-4bd0-96fb-c5ffd8da371d","name":"Validate Token","type":"n8n-nodes-base.if","typeVersion":1,"position":[-208,112]},{"parameters":{"url":"=https://api.github.com/repos/{{ $env.GITHUB_OWNER }}/{{ $env.GITHUB_REPO }}/dispatches","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github.v3+json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"event_type","value":"remote-trigger"},{"name":"client_payload","value":"={{ JSON.stringify({ workflow: $json.workflow || '/health-check', branch: $json.branch || 'main', token: $env.REMOTE_TRIGGER_SECRET }) }}"}]},"options":{}},"id":"527b163f-d23f-4d5a-8f75-96546f1233f8","name":"Trigger GitHub Action","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[0,0]},{"parameters":{"respondWith":"json","responseBody":"={{ { success: false, error: 'Invalid token' } }}","options":{}},"id":"36a905fb-7939-471c-8198-f5f4fdd98e63","name":"Reject","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[0,208]},{"parameters":{"respondWith":"json","responseBody":"={{ { success: true, workflow: $json.workflow, message: 'Workflow triggered successfully' } }}","options":{}},"id":"befe78b8-6b82-40ed-af35-41248eb8b657","name":"Success Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[208,0]}],"connections":{"Webhook":{"main":[[{"node":"Validate Token","type":"main","index":0}]]},"Validate Token":{"main":[[{"node":"Trigger GitHub Action","type":"main","index":0}],[{"node":"Reject","type":"main","index":0}]]},"Trigger GitHub Action":{"main":[[{"node":"Success Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"7a35845b-b5a3-4cd8-ac6b-fe40df00b284","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-04T22:19:37.445Z","createdAt":"2026-02-04T22:19:37.445Z","role":"workflow:owner","workflowId":"9Sw7r7tP7wQstiOb","projectId":"xSv7yo2oxCZw4gZE"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-02-09T10:04:31.674Z","createdAt":"2026-02-09T10:04:31.674Z","id":"N6l6IZxtvbhnwS3x","name":"IronForge Remote Trigger V3","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ironforge-trigger","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"id":"d50742cb-9c13-4502-8c09-d381e399cf21"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.token }}","operation":"equals","value2":"IF_SECURE_TRIGGER_REDACTED"}]}},"name":"ValidateToken","type":"n8n-nodes-base.if","typeVersion":1,"position":[450,300],"id":"11fc6cc1-21cc-4658-8bfd-a8eaa502545e"},{"parameters":{"url":"https://api.github.com/repos/Techlemariam/IronForge/dispatches","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github.v3+json"},{"name":"Authorization","value":"token github_pat_REDACTED"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ event_type: 'remote-trigger', client_payload: { workflow: $json.workflow || '/health-check', branch: $json.branch || 'main', token: $json.token } }) }}","options":{}},"name":"TriggerGitHub","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[650,200],"id":"88506f4f-0d1b-44ac-9c6f-b820b5af7bca"}],"connections":{"Webhook":{"main":[[{"node":"ValidateToken","type":"main","index":0}]]},"ValidateToken":{"main":[[{"node":"TriggerGitHub","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"1f373262-c3aa-4bb1-bdea-bd1ab2e220a7","activeVersionId":"1f373262-c3aa-4bb1-bdea-bd1ab2e220a7","triggerCount":1,"shared":[{"updatedAt":"2026-02-09T10:04:31.699Z","createdAt":"2026-02-09T10:04:31.699Z","role":"workflow:owner","workflowId":"N6l6IZxtvbhnwS3x","projectId":"xSv7yo2oxCZw4gZE"}],"activeVersion":{"updatedAt":"2026-02-09T10:04:31.713Z","createdAt":"2026-02-09T10:04:31.713Z","versionId":"1f373262-c3aa-4bb1-bdea-bd1ab2e220a7","workflowId":"N6l6IZxtvbhnwS3x","nodes":[{"parameters":{"httpMethod":"POST","path":"ironforge-trigger","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"id":"d50742cb-9c13-4502-8c09-d381e399cf21"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.token }}","operation":"equals","value2":"IF_SECURE_TRIGGER_REDACTED"}]}},"name":"ValidateToken","type":"n8n-nodes-base.if","typeVersion":1,"position":[450,300],"id":"11fc6cc1-21cc-4658-8bfd-a8eaa502545e"},{"parameters":{"url":"https://api.github.com/repos/Techlemariam/IronForge/dispatches","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github.v3+json"},{"name":"Authorization","value":"token github_pat_REDACTED"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ event_type: 'remote-trigger', client_payload: { workflow: $json.workflow || '/health-check', branch: $json.branch || 'main', token: $json.token } }) }}","options":{}},"name":"TriggerGitHub","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[650,200],"id":"88506f4f-0d1b-44ac-9c6f-b820b5af7bca"}],"connections":{"Webhook":{"main":[[{"node":"ValidateToken","type":"main","index":0}]]},"ValidateToken":{"main":[[{"node":"TriggerGitHub","type":"main","index":0}]]}},"authors":"Alexander Teklemariam","name":null,"description":null,"autosaved":false},"tags":[]},{"updatedAt":"2026-02-09T08:51:52.727Z","createdAt":"2026-02-08T09:14:12.273Z","id":"Tv0z7QUCzTfgLDGq","name":"Monitoring Dashboard","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"22818fb3-1196-4e7a-a192-3dc4a4cc1c7d","name":"Every 15 mins","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[32,32]},{"parameters":{"url":"=https://ironforge-coolify.tailafb692.ts.net/api/health","options":{}},"id":"b343ccfc-4365-491e-b8c3-8b0c6cf74db7","name":"Check Health API","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[240,32]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.statusCode }}","operation":"equals","value2":200}]}},"id":"da9cfd02-9793-46cd-bb0a-df0f11fe2fcf","name":"Is Healthy?","type":"n8n-nodes-base.if","typeVersion":1,"position":[432,32]},{"parameters":{"url":"https://discord.com/api/webhooks/1469991396373958688/4WDf2TawGhR_QQ0FY7xExCcTLZ3plj1O8wcVvG8pxvAHbr1jfQg4DqUiktyuAn1LIe05","options":{}},"id":"84498432-0480-4212-8e4e-a180b62d5647","name":"Alert Discord/Slack","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[640,144]}],"connections":{"Every 15 mins":{"main":[[{"node":"Check Health API","type":"main","index":0}]]},"Check Health API":{"main":[[{"node":"Is Healthy?","type":"main","index":0}]]},"Is Healthy?":{"main":[[],[{"node":"Alert Discord/Slack","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Every 15 mins":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"c97cdf0d-8f4d-4111-a78b-30ab228ea731","activeVersionId":"c97cdf0d-8f4d-4111-a78b-30ab228ea731","triggerCount":1,"shared":[{"updatedAt":"2026-02-08T09:14:12.285Z","createdAt":"2026-02-08T09:14:12.285Z","role":"workflow:owner","workflowId":"Tv0z7QUCzTfgLDGq","projectId":"xSv7yo2oxCZw4gZE"}],"activeVersion":{"updatedAt":"2026-02-08T09:45:33.000Z","createdAt":"2026-02-08T09:45:27.576Z","versionId":"c97cdf0d-8f4d-4111-a78b-30ab228ea731","workflowId":"Tv0z7QUCzTfgLDGq","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"22818fb3-1196-4e7a-a192-3dc4a4cc1c7d","name":"Every 15 mins","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[32,32]},{"parameters":{"url":"=https://ironforge-coolify.tailafb692.ts.net/api/health","options":{}},"id":"b343ccfc-4365-491e-b8c3-8b0c6cf74db7","name":"Check Health API","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[240,32]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.statusCode }}","operation":"equals","value2":200}]}},"id":"da9cfd02-9793-46cd-bb0a-df0f11fe2fcf","name":"Is Healthy?","type":"n8n-nodes-base.if","typeVersion":1,"position":[432,32]},{"parameters":{"url":"https://discord.com/api/webhooks/1469991396373958688/4WDf2TawGhR_QQ0FY7xExCcTLZ3plj1O8wcVvG8pxvAHbr1jfQg4DqUiktyuAn1LIe05","options":{}},"id":"84498432-0480-4212-8e4e-a180b62d5647","name":"Alert Discord/Slack","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[640,144]}],"connections":{"Every 15 mins":{"main":[[{"node":"Check Health API","type":"main","index":0}]]},"Check Health API":{"main":[[{"node":"Is Healthy?","type":"main","index":0}]]},"Is Healthy?":{"main":[[],[{"node":"Alert Discord/Slack","type":"main","index":0}]]}},"authors":"Alexander Teklemariam","name":"Version c97cdf0d","description":"","autosaved":false},"tags":[]}],"nextCursor":null}