check_new_workflow.json
{"updatedAt":"2026-02-09T10:04:31.674Z","createdAt":"2026-02-09T10:04:31.674Z","id":"N6l6IZxtvbhnwS3x","name":"IronForge Remote Trigger V3","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ironforge-trigger","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"id":"d50742cb-9c13-4502-8c09-d381e399cf21"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.token }}","operation":"equals","value2":"IF_SECURE_TRIGGER_REDACTED"}]}},"name":"ValidateToken","type":"n8n-nodes-base.if","typeVersion":1,"position":[450,300],"id":"11fc6cc1-21cc-4658-8bfd-a8eaa502545e"},{"parameters":{"url":"https://api.github.com/repos/Techlemariam/IronForge/dispatches","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github.v3+json"},{"name":"Authorization","value":"token github_pat_REDACTED"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ event_type: 'remote-trigger', client_payload: { workflow: $json.workflow || '/health-check', branch: $json.branch || 'main', token: $json.token } }) }}","options":{}},"name":"TriggerGitHub","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[650,200],"id":"88506f4f-0d1b-44ac-9c6f-b820b5af7bca"}],"connections":{"Webhook":{"main":[[{"node":"ValidateToken","type":"main","index":0}]]},"ValidateToken":{"main":[[{"node":"TriggerGitHub","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"1f373262-c3aa-4bb1-bdea-bd1ab2e220a7","activeVersionId":"1f373262-c3aa-4bb1-bdea-bd1ab2e220a7","versionCounter":9,"triggerCount":1,"shared":[{"updatedAt":"2026-02-09T10:04:31.699Z","createdAt":"2026-02-09T10:04:31.699Z","role":"workflow:owner","workflowId":"N6l6IZxtvbhnwS3x","projectId":"xSv7yo2oxCZw4gZE","project":{"updatedAt":"2026-02-07T22:51:26.091Z","createdAt":"2026-02-04T22:07:22.992Z","id":"xSv7yo2oxCZw4gZE","name":"Alexander Teklemariam <alexander.teklemariam@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"918df8dd-28be-455c-af95-f541e364b1b4","projectRelations":[{"updatedAt":"2026-02-04T22:07:22.992Z","createdAt":"2026-02-04T22:07:22.992Z","userId":"918df8dd-28be-455c-af95-f541e364b1b4","projectId":"xSv7yo2oxCZw4gZE","user":{"updatedAt":"2026-02-09T07:11:41.000Z","createdAt":"2026-02-04T22:07:22.554Z","id":"918df8dd-28be-455c-af95-f541e364b1b4","email":"alexander.teklemariam@gmail.com","firstName":"Alexander","lastName":"Teklemariam","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-04T22:14:56.083Z","personalization_survey_n8n_version":"2.1.5","companyType":"personal","reportedSource":"friend"},"settings":{"userActivated":false},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-09T10:04:31.713Z","createdAt":"2026-02-09T10:04:31.713Z","versionId":"1f373262-c3aa-4bb1-bdea-bd1ab2e220a7","workflowId":"N6l6IZxtvbhnwS3x","nodes":[{"parameters":{"httpMethod":"POST","path":"ironforge-trigger","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"id":"d50742cb-9c13-4502-8c09-d381e399cf21"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.token }}","operation":"equals","value2":"IF_SECURE_TRIGGER_REDACTED"}]}},"name":"ValidateToken","type":"n8n-nodes-base.if","typeVersion":1,"position":[450,300],"id":"11fc6cc1-21cc-4658-8bfd-a8eaa502545e"},{"parameters":{"url":"https://api.github.com/repos/Techlemariam/IronForge/dispatches","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github.v3+json"},{"name":"Authorization","value":"token github_pat_REDACTED"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ event_type: 'remote-trigger', client_payload: { workflow: $json.workflow || '/health-check', branch: $json.branch || 'main', token: $json.token } }) }}","options":{}},"name":"TriggerGitHub","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[650,200],"id":"88506f4f-0d1b-44ac-9c6f-b820b5af7bca"}],"connections":{"Webhook":{"main":[[{"node":"ValidateToken","type":"main","index":0}]]},"ValidateToken":{"main":[[{"node":"TriggerGitHub","type":"main","index":0}]]}},"authors":"Alexander Teklemariam","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-09T10:04:48.563Z","id":18,"workflowId":"N6l6IZxtvbhnwS3x","versionId":"1f373262-c3aa-4bb1-bdea-bd1ab2e220a7","event":"activated","userId":"918df8dd-28be-455c-af95-f541e364b1b4"},{"createdAt":"2026-02-09T10:05:15.586Z","id":19,"workflowId":"N6l6IZxtvbhnwS3x","versionId":"1f373262-c3aa-4bb1-bdea-bd1ab2e220a7","event":"activated","userId":"918df8dd-28be-455c-af95-f541e364b1b4"},{"createdAt":"2026-02-09T10:05:36.568Z","id":20,"workflowId":"N6l6IZxtvbhnwS3x","versionId":"1f373262-c3aa-4bb1-bdea-bd1ab2e220a7","event":"activated","userId":"918df8dd-28be-455c-af95-f541e364b1b4"},{"createdAt":"2026-02-09T10:06:53.286Z","id":21,"workflowId":"N6l6IZxtvbhnwS3x","versionId":"1f373262-c3aa-4bb1-bdea-bd1ab2e220a7","event":"activated","userId":"918df8dd-28be-455c-af95-f541e364b1b4"}]}}