final_verification_executions.json
{"data":[{"id":"308","finished":false,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"error","startedAt":"2026-02-09T10:17:02.273Z","stoppedAt":"2026-02-09T10:18:02.321Z","workflowId":"N6l6IZxtvbhnwS3x","waitTill":null,"data":{"version":1,"startData":{},"resultData":{"error":{"level":"warning","shouldReport":false,"description":"Your Code node task was not matched to a runner within the timeout period. This indicates that the task runner is currently down, or not ready, or at capacity, so it cannot service your task.<br/><br/>If you are repeatedly executing Code nodes with long-running tasks across your instance, please space them apart to give the runner time to catch up. If this does not describe your use case, please open a GitHub issue or reach out to support.<br/><br/>If needed, you can increase the timeout using the N8N_RUNNERS_TASK_REQUEST_TIMEOUT environment variable.","tags":{},"message":"Task request timed out after 60 seconds","stack":"Error: Task request timed out after 60 seconds\n    at LocalTaskRequester.requestExpired (/usr/local/lib/node_modules/n8n/src/task-runners/task-managers/task-requester.ts:304:17)\n    at LocalTaskRequester.onMessage (/usr/local/lib/node_modules/n8n/src/task-runners/task-managers/task-requester.ts:272:10)\n    at TaskBroker.handleRequestTimeout (/usr/local/lib/node_modules/n8n/src/task-runners/task-broker/task-broker.service.ts:115:50)\n    at Timeout.<anonymous> (/usr/local/lib/node_modules/n8n/src/task-runners/task-broker/task-broker.service.ts:102:9)\n    at listOnTimeout (node:internal/timers:588:17)\n    at processTimers (node:internal/timers:523:7)"},"runData":{"Webhook":[{"startTime":1770632222279,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"ironforge-coolify.tailafb692.ts.net","user-agent":"curl/8.16.0","content-length":"151","accept":"*/*","content-type":"application/json","x-forwarded-for":"10.0.1.1","x-forwarded-host":"ironforge-coolify.tailafb692.ts.net","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"eb9374084dab","x-real-ip":"10.0.1.1","accept-encoding":"gzip"},"params":{},"query":{},"body":{"workflow":"/health-check","branch":"main","token":"IF_SECURE_TRIGGER_REDACTED","source":"discord","user":"Antigravity#Debug"},"webhookUrl":"https://ironforge-coolify.tailafb692.ts.net/webhook/ironforge-trigger","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"ValidateToken":[{"startTime":1770632222279,"executionIndex":1,"source":[{"previousNode":"Webhook"}],"hints":[],"executionTime":60042,"executionStatus":"error","error":{"level":"warning","shouldReport":false,"description":"Your Code node task was not matched to a runner within the timeout period. This indicates that the task runner is currently down, or not ready, or at capacity, so it cannot service your task.<br/><br/>If you are repeatedly executing Code nodes with long-running tasks across your instance, please space them apart to give the runner time to catch up. If this does not describe your use case, please open a GitHub issue or reach out to support.<br/><br/>If needed, you can increase the timeout using the N8N_RUNNERS_TASK_REQUEST_TIMEOUT environment variable.","tags":{},"message":"Task request timed out after 60 seconds","stack":"Error: Task request timed out after 60 seconds\n    at LocalTaskRequester.requestExpired (/usr/local/lib/node_modules/n8n/src/task-runners/task-managers/task-requester.ts:304:17)\n    at LocalTaskRequester.onMessage (/usr/local/lib/node_modules/n8n/src/task-runners/task-managers/task-requester.ts:272:10)\n    at TaskBroker.handleRequestTimeout (/usr/local/lib/node_modules/n8n/src/task-runners/task-broker/task-broker.service.ts:115:50)\n    at Timeout.<anonymous> (/usr/local/lib/node_modules/n8n/src/task-runners/task-broker/task-broker.service.ts:102:9)\n    at listOnTimeout (node:internal/timers:588:17)\n    at processTimers (node:internal/timers:523:7)"}}]},"lastNodeExecuted":"ValidateToken"},"executionData":{"contextData":{},"nodeExecutionStack":[{"node":{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const validToken = 'IF_SECURE_TRIGGER_REDACTED';\nconst incomingToken = items[0].json.token;\n\nif (incomingToken !== validToken) {\n  throw new Error(`Invalid token. Expected ${validToken}, got ${incomingToken}`);\n}\n\nreturn items;","notice":""},"name":"ValidateToken","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300],"id":"6163ec9a-55ff-4e5b-bf4e-51e0c18772bf"},"data":{"main":[[{"json":{"headers":{"host":"ironforge-coolify.tailafb692.ts.net","user-agent":"curl/8.16.0","content-length":"151","accept":"*/*","content-type":"application/json","x-forwarded-for":"10.0.1.1","x-forwarded-host":"ironforge-coolify.tailafb692.ts.net","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"eb9374084dab","x-real-ip":"10.0.1.1","accept-encoding":"gzip"},"params":{},"query":{},"body":{"workflow":"/health-check","branch":"main","token":"IF_SECURE_TRIGGER_REDACTED","source":"discord","user":"Antigravity#Debug"},"webhookUrl":"https://ironforge-coolify.tailafb692.ts.net/webhook/ironforge-trigger","executionMode":"production"},"pairedItem":{"item":0}}]]},"source":{"main":[{"previousNode":"Webhook"}]}}],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1770632222278,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"N6l6IZxtvbhnwS3x","name":"IronForge Remote Trigger V3","active":true,"activeVersionId":"cfa4a8d5-6f29-4809-9a10-43fc1e0adcee","isArchived":false,"createdAt":"2026-02-09T10:04:31.674Z","updatedAt":"2026-02-09T10:17:01.864Z","nodes":[{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"ironforge-trigger","authentication":"none","responseMode":"onReceived","responseCode":200,"contentTypeNotice":"","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"webhookId":"776e9ed4-b76f-40a2-b4d5-6701a66227c5","id":"3e58bd9b-2f67-4c30-a876-ee37900111e1"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const validToken = 'IF_SECURE_TRIGGER_REDACTED';\nconst incomingToken = items[0].json.token;\n\nif (incomingToken !== validToken) {\n  throw new Error(`Invalid token. Expected ${validToken}, got ${incomingToken}`);\n}\n\nreturn items;","notice":""},"name":"ValidateToken","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300],"id":"6163ec9a-55ff-4e5b-bf4e-51e0c18772bf"},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"POST","url":"https://api.github.com/repos/Techlemariam/IronForge/dispatches","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github.v3+json"},{"name":"Authorization","value":"token github_pat_REDACTED"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ event_type: 'remote-trigger', client_payload: { workflow: $json.workflow || '/health-check', branch: $json.branch || 'main', token: $json.token } }) }}","options":{},"infoMessage":""},"name":"TriggerGitHub","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[650,200],"id":"f3ed19cc-9600-4fe5-b52d-4ac8447d1848"}],"connections":{"Webhook":{"main":[[{"node":"ValidateToken","type":"main","index":0}]]},"ValidateToken":{"main":[[{"node":"TriggerGitHub","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{},"pinData":null},"customData":{}},{"id":"307","finished":false,"mode":"trigger","retryOf":null,"retrySuccessId":null,"status":"error","startedAt":"2026-02-09T10:15:03.015Z","stoppedAt":"2026-02-09T10:15:03.045Z","workflowId":"Tv0z7QUCzTfgLDGq","waitTill":null,"data":{"version":1,"startData":{},"resultData":{"error":{"level":"warning","tags":{},"timestamp":1770632103041,"context":{"itemIndex":0,"request":{"headers":{"accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7"},"method":"GET","uri":"https://ironforge-coolify.tailafb692.ts.net/api/health","gzip":true,"rejectUnauthorized":true,"followRedirect":false,"resolveWithFullResponse":true,"timeout":300000,"encoding":null,"json":false,"useStream":true}},"functionality":"regular","name":"NodeApiError","node":{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"GET","url":"=https://ironforge-coolify.tailafb692.ts.net/api/health","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":false,"options":{},"infoMessage":""},"id":"b343ccfc-4365-491e-b8c3-8b0c6cf74db7","name":"Check Health API","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[240,32]},"messages":["SSL Issue: consider using the 'Ignore SSL issues' option"],"httpCode":null,"message":"SSL Issue: consider using the 'Ignore SSL issues' option","stack":"NodeApiError: SSL Issue: consider using the 'Ignore SSL issues' option\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts:859:16)\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1045:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1226:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1662:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2274:11"},"runData":{"Every 15 mins":[{"startTime":1770632103018,"executionIndex":0,"source":[],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"timestamp":"2026-02-09T10:15:03.004+00:00","Readable date":"February 9th 2026, 10:15:03 am","Readable time":"10:15:03 am","Day of week":"Monday","Year":"2026","Month":"February","Day of month":"09","Hour":"10","Minute":"15","Second":"03","Timezone":"UTC (UTC+00:00)"},"pairedItem":{"item":0}}]]}}],"Check Health API":[{"startTime":1770632103019,"executionIndex":1,"source":[{"previousNode":"Every 15 mins"}],"hints":[],"executionTime":24,"executionStatus":"error","error":{"level":"warning","tags":{},"timestamp":1770632103041,"context":{"itemIndex":0,"request":{"headers":{"accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7"},"method":"GET","uri":"https://ironforge-coolify.tailafb692.ts.net/api/health","gzip":true,"rejectUnauthorized":true,"followRedirect":false,"resolveWithFullResponse":true,"timeout":300000,"encoding":null,"json":false,"useStream":true}},"functionality":"regular","name":"NodeApiError","node":{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"GET","url":"=https://ironforge-coolify.tailafb692.ts.net/api/health","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":false,"options":{},"infoMessage":""},"id":"b343ccfc-4365-491e-b8c3-8b0c6cf74db7","name":"Check Health API","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[240,32]},"messages":["SSL Issue: consider using the 'Ignore SSL issues' option"],"httpCode":null,"message":"SSL Issue: consider using the 'Ignore SSL issues' option","stack":"NodeApiError: SSL Issue: consider using the 'Ignore SSL issues' option\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts:859:16)\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1045:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1226:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1662:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2274:11"}}]},"lastNodeExecuted":"Check Health API"},"executionData":{"contextData":{},"nodeExecutionStack":[{"node":{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"GET","url":"=https://ironforge-coolify.tailafb692.ts.net/api/health","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":false,"options":{},"infoMessage":""},"id":"b343ccfc-4365-491e-b8c3-8b0c6cf74db7","name":"Check Health API","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[240,32]},"data":{"main":[[{"json":{"timestamp":"2026-02-09T10:15:03.004+00:00","Readable date":"February 9th 2026, 10:15:03 am","Readable time":"10:15:03 am","Day of week":"Monday","Year":"2026","Month":"February","Day of month":"09","Hour":"10","Minute":"15","Second":"03","Timezone":"UTC (UTC+00:00)"},"pairedItem":{"item":0}}]]},"source":{"main":[{"previousNode":"Every 15 mins"}]}}],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1770632103018,"source":"trigger","triggerNode":{"name":"Every 15 mins","type":"n8n-nodes-base.scheduleTrigger"}}}},"workflowData":{"id":"Tv0z7QUCzTfgLDGq","name":"Monitoring Dashboard","active":true,"activeVersionId":"c97cdf0d-8f4d-4111-a78b-30ab228ea731","isArchived":false,"createdAt":"2026-02-08T09:14:12.273Z","updatedAt":"2026-02-09T08:51:52.727Z","nodes":[{"parameters":{"notice":"","rule":{"interval":[{"field":"minutes","minutesInterval":5}]}},"id":"22818fb3-1196-4e7a-a192-3dc4a4cc1c7d","name":"Every 15 mins","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[32,32]},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"GET","url":"=https://ironforge-coolify.tailafb692.ts.net/api/health","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":false,"options":{},"infoMessage":""},"id":"b343ccfc-4365-491e-b8c3-8b0c6cf74db7","name":"Check Health API","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[240,32]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.statusCode }}","operation":"equals","value2":200}]},"combineOperation":"all"},"id":"da9cfd02-9793-46cd-bb0a-df0f11fe2fcf","name":"Is Healthy?","type":"n8n-nodes-base.if","typeVersion":1,"position":[432,32]},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"GET","url":"https://discord.com/api/webhooks/1469991396373958688/4WDf2TawGhR_QQ0FY7xExCcTLZ3plj1O8wcVvG8pxvAHbr1jfQg4DqUiktyuAn1LIe05","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":false,"options":{},"infoMessage":""},"id":"84498432-0480-4212-8e4e-a180b62d5647","name":"Alert Discord/Slack","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[640,144]}],"connections":{"Every 15 mins":{"main":[[{"node":"Check Health API","type":"main","index":0}]]},"Check Health API":{"main":[[{"node":"Is Healthy?","type":"main","index":0}]]},"Is Healthy?":{"main":[[],[{"node":"Alert Discord/Slack","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Every 15 mins":{"recurrenceRules":[]}},"pinData":{}},"customData":{}},{"id":"306","finished":false,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"error","startedAt":"2026-02-09T10:15:00.119Z","stoppedAt":"2026-02-09T10:15:00.124Z","workflowId":"N6l6IZxtvbhnwS3x","waitTill":null,"data":{"version":1,"startData":{},"resultData":{"error":{"message":"compareOperationFunctions[compareData.operation] is not a function","stack":"TypeError: compareOperationFunctions[compareData.operation] is not a function\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/If/V1/IfV1.node.ts:455:89)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1045:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1226:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1662:38\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2274:11"},"runData":{"Webhook":[{"startTime":1770632100122,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"ironforge-coolify.tailafb692.ts.net","user-agent":"node","content-length":"121","accept":"*/*","accept-encoding":"br, gzip, deflate","accept-language":"*","content-type":"application/json","sec-fetch-mode":"cors","x-forwarded-for":"10.0.1.1","x-forwarded-host":"ironforge-coolify.tailafb692.ts.net","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"eb9374084dab","x-real-ip":"10.0.1.1"},"params":{},"query":{},"body":{"workflow":"/health-check","branch":"main","token":"IF_SECURE_TRIGGER_REDACTED","source":"discord","user":"mustaparta#0"},"webhookUrl":"https://ironforge-coolify.tailafb692.ts.net/webhook/ironforge-trigger","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"ValidateToken":[{"startTime":1770632100122,"executionIndex":1,"source":[{"previousNode":"Webhook"}],"hints":[],"executionTime":2,"executionStatus":"error","error":{"message":"compareOperationFunctions[compareData.operation] is not a function","stack":"TypeError: compareOperationFunctions[compareData.operation] is not a function\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/If/V1/IfV1.node.ts:455:89)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1045:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1226:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1662:38\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2274:11"}}]},"lastNodeExecuted":"ValidateToken"},"executionData":{"contextData":{},"nodeExecutionStack":[{"node":{"parameters":{"conditions":{"string":[{"value1":"={{ $json.token }}","operation":"equals","value2":"IF_SECURE_TRIGGER_REDACTED"}]},"combineOperation":"all"},"name":"ValidateToken","type":"n8n-nodes-base.if","typeVersion":1,"position":[450,300],"id":"9a26559b-6f1c-45bd-be18-b2f096ece808"},"data":{"main":[[{"json":{"headers":{"host":"ironforge-coolify.tailafb692.ts.net","user-agent":"node","content-length":"121","accept":"*/*","accept-encoding":"br, gzip, deflate","accept-language":"*","content-type":"application/json","sec-fetch-mode":"cors","x-forwarded-for":"10.0.1.1","x-forwarded-host":"ironforge-coolify.tailafb692.ts.net","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"eb9374084dab","x-real-ip":"10.0.1.1"},"params":{},"query":{},"body":{"workflow":"/health-check","branch":"main","token":"IF_SECURE_TRIGGER_REDACTED","source":"discord","user":"mustaparta#0"},"webhookUrl":"https://ironforge-coolify.tailafb692.ts.net/webhook/ironforge-trigger","executionMode":"production"},"pairedItem":{"item":0}}]]},"source":{"main":[{"previousNode":"Webhook"}]}}],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1770632100122,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"N6l6IZxtvbhnwS3x","name":"IronForge Remote Trigger V3","active":true,"activeVersionId":"df2757f2-4cf4-4988-8b2c-7198d96038ed","isArchived":false,"createdAt":"2026-02-09T10:04:31.674Z","updatedAt":"2026-02-09T10:13:51.881Z","nodes":[{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"ironforge-trigger","authentication":"none","responseMode":"onReceived","responseCode":200,"contentTypeNotice":"","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"webhookId":"776e9ed4-b76f-40a2-b4d5-6701a66227c5","id":"bab6f224-516d-4412-9ad8-a9673529d9fb"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.token }}","operation":"equals","value2":"IF_SECURE_TRIGGER_REDACTED"}]},"combineOperation":"all"},"name":"ValidateToken","type":"n8n-nodes-base.if","typeVersion":1,"position":[450,300],"id":"9a26559b-6f1c-45bd-be18-b2f096ece808"},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"POST","url":"https://api.github.com/repos/Techlemariam/IronForge/dispatches","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github.v3+json"},{"name":"Authorization","value":"token github_pat_REDACTED"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ event_type: 'remote-trigger', client_payload: { workflow: $json.workflow || '/health-check', branch: $json.branch || 'main', token: $json.token } }) }}","options":{},"infoMessage":""},"name":"TriggerGitHub","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[650,200],"id":"774e370d-7d4f-436a-b0da-aa45362e1142"}],"connections":{"Webhook":{"main":[[{"node":"ValidateToken","type":"main","index":0}]]},"ValidateToken":{"main":[[{"node":"TriggerGitHub","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{},"pinData":null},"customData":{}},{"id":"305","finished":false,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"error","startedAt":"2026-02-09T10:14:06.509Z","stoppedAt":"2026-02-09T10:14:06.517Z","workflowId":"N6l6IZxtvbhnwS3x","waitTill":null,"data":{"version":1,"startData":{},"resultData":{"error":{"message":"compareOperationFunctions[compareData.operation] is not a function","stack":"TypeError: compareOperationFunctions[compareData.operation] is not a function\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/If/V1/IfV1.node.ts:455:89)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1045:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1226:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1662:38\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2274:11"},"runData":{"Webhook":[{"startTime":1770632046513,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"ironforge-coolify.tailafb692.ts.net","user-agent":"curl/8.16.0","content-length":"151","accept":"*/*","content-type":"application/json","x-forwarded-for":"10.0.1.1","x-forwarded-host":"ironforge-coolify.tailafb692.ts.net","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"eb9374084dab","x-real-ip":"10.0.1.1","accept-encoding":"gzip"},"params":{},"query":{},"body":{"workflow":"/health-check","branch":"main","token":"IF_SECURE_TRIGGER_REDACTED","source":"discord","user":"Antigravity#Debug"},"webhookUrl":"https://ironforge-coolify.tailafb692.ts.net/webhook/ironforge-trigger","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"ValidateToken":[{"startTime":1770632046514,"executionIndex":1,"source":[{"previousNode":"Webhook"}],"hints":[],"executionTime":3,"executionStatus":"error","error":{"message":"compareOperationFunctions[compareData.operation] is not a function","stack":"TypeError: compareOperationFunctions[compareData.operation] is not a function\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/If/V1/IfV1.node.ts:455:89)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1045:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1226:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1662:38\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2274:11"}}]},"lastNodeExecuted":"ValidateToken"},"executionData":{"contextData":{},"nodeExecutionStack":[{"node":{"parameters":{"conditions":{"string":[{"value1":"={{ $json.token }}","operation":"equals","value2":"IF_SECURE_TRIGGER_REDACTED"}]},"combineOperation":"all"},"name":"ValidateToken","type":"n8n-nodes-base.if","typeVersion":1,"position":[450,300],"id":"9a26559b-6f1c-45bd-be18-b2f096ece808"},"data":{"main":[[{"json":{"headers":{"host":"ironforge-coolify.tailafb692.ts.net","user-agent":"curl/8.16.0","content-length":"151","accept":"*/*","content-type":"application/json","x-forwarded-for":"10.0.1.1","x-forwarded-host":"ironforge-coolify.tailafb692.ts.net","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"eb9374084dab","x-real-ip":"10.0.1.1","accept-encoding":"gzip"},"params":{},"query":{},"body":{"workflow":"/health-check","branch":"main","token":"IF_SECURE_TRIGGER_REDACTED","source":"discord","user":"Antigravity#Debug"},"webhookUrl":"https://ironforge-coolify.tailafb692.ts.net/webhook/ironforge-trigger","executionMode":"production"},"pairedItem":{"item":0}}]]},"source":{"main":[{"previousNode":"Webhook"}]}}],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1770632046513,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"N6l6IZxtvbhnwS3x","name":"IronForge Remote Trigger V3","active":true,"activeVersionId":"df2757f2-4cf4-4988-8b2c-7198d96038ed","isArchived":false,"createdAt":"2026-02-09T10:04:31.674Z","updatedAt":"2026-02-09T10:13:51.881Z","nodes":[{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"ironforge-trigger","authentication":"none","responseMode":"onReceived","responseCode":200,"contentTypeNotice":"","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"webhookId":"776e9ed4-b76f-40a2-b4d5-6701a66227c5","id":"bab6f224-516d-4412-9ad8-a9673529d9fb"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.token }}","operation":"equals","value2":"IF_SECURE_TRIGGER_REDACTED"}]},"combineOperation":"all"},"name":"ValidateToken","type":"n8n-nodes-base.if","typeVersion":1,"position":[450,300],"id":"9a26559b-6f1c-45bd-be18-b2f096ece808"},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"POST","url":"https://api.github.com/repos/Techlemariam/IronForge/dispatches","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github.v3+json"},{"name":"Authorization","value":"token github_pat_REDACTED"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ event_type: 'remote-trigger', client_payload: { workflow: $json.workflow || '/health-check', branch: $json.branch || 'main', token: $json.token } }) }}","options":{},"infoMessage":""},"name":"TriggerGitHub","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[650,200],"id":"774e370d-7d4f-436a-b0da-aa45362e1142"}],"connections":{"Webhook":{"main":[[{"node":"ValidateToken","type":"main","index":0}]]},"ValidateToken":{"main":[[{"node":"TriggerGitHub","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{},"pinData":null},"customData":{}},{"id":"304","finished":false,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"error","startedAt":"2026-02-09T10:13:52.433Z","stoppedAt":"2026-02-09T10:13:52.461Z","workflowId":"N6l6IZxtvbhnwS3x","waitTill":null,"data":{"version":1,"startData":{},"resultData":{"error":{"message":"compareOperationFunctions[compareData.operation] is not a function","stack":"TypeError: compareOperationFunctions[compareData.operation] is not a function\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/If/V1/IfV1.node.ts:455:89)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1045:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1226:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1662:38\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2274:11"},"runData":{"Webhook":[{"startTime":1770632032444,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"ironforge-coolify.tailafb692.ts.net","user-agent":"curl/8.16.0","content-length":"151","accept":"*/*","content-type":"application/json","x-forwarded-for":"10.0.1.1","x-forwarded-host":"ironforge-coolify.tailafb692.ts.net","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"eb9374084dab","x-real-ip":"10.0.1.1","accept-encoding":"gzip"},"params":{},"query":{},"body":{"workflow":"/health-check","branch":"main","token":"IF_SECURE_TRIGGER_REDACTED","source":"discord","user":"Antigravity#Debug"},"webhookUrl":"https://ironforge-coolify.tailafb692.ts.net/webhook/ironforge-trigger","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"ValidateToken":[{"startTime":1770632032445,"executionIndex":1,"source":[{"previousNode":"Webhook"}],"hints":[],"executionTime":15,"executionStatus":"error","error":{"message":"compareOperationFunctions[compareData.operation] is not a function","stack":"TypeError: compareOperationFunctions[compareData.operation] is not a function\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/If/V1/IfV1.node.ts:455:89)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1045:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1226:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1662:38\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2274:11"}}]},"lastNodeExecuted":"ValidateToken"},"executionData":{"contextData":{},"nodeExecutionStack":[{"node":{"parameters":{"conditions":{"string":[{"value1":"={{ $json.token }}","operation":"equals","value2":"IF_SECURE_TRIGGER_REDACTED"}]},"combineOperation":"all"},"name":"ValidateToken","type":"n8n-nodes-base.if","typeVersion":1,"position":[450,300],"id":"9a26559b-6f1c-45bd-be18-b2f096ece808"},"data":{"main":[[{"json":{"headers":{"host":"ironforge-coolify.tailafb692.ts.net","user-agent":"curl/8.16.0","content-length":"151","accept":"*/*","content-type":"application/json","x-forwarded-for":"10.0.1.1","x-forwarded-host":"ironforge-coolify.tailafb692.ts.net","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"eb9374084dab","x-real-ip":"10.0.1.1","accept-encoding":"gzip"},"params":{},"query":{},"body":{"workflow":"/health-check","branch":"main","token":"IF_SECURE_TRIGGER_REDACTED","source":"discord","user":"Antigravity#Debug"},"webhookUrl":"https://ironforge-coolify.tailafb692.ts.net/webhook/ironforge-trigger","executionMode":"production"},"pairedItem":{"item":0}}]]},"source":{"main":[{"previousNode":"Webhook"}]}}],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1770632032443,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"N6l6IZxtvbhnwS3x","name":"IronForge Remote Trigger V3","active":true,"activeVersionId":"df2757f2-4cf4-4988-8b2c-7198d96038ed","isArchived":false,"createdAt":"2026-02-09T10:04:31.674Z","updatedAt":"2026-02-09T10:13:51.881Z","nodes":[{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"ironforge-trigger","authentication":"none","responseMode":"onReceived","responseCode":200,"contentTypeNotice":"","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"webhookId":"776e9ed4-b76f-40a2-b4d5-6701a66227c5","id":"bab6f224-516d-4412-9ad8-a9673529d9fb"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.token }}","operation":"equals","value2":"IF_SECURE_TRIGGER_REDACTED"}]},"combineOperation":"all"},"name":"ValidateToken","type":"n8n-nodes-base.if","typeVersion":1,"position":[450,300],"id":"9a26559b-6f1c-45bd-be18-b2f096ece808"},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"POST","url":"https://api.github.com/repos/Techlemariam/IronForge/dispatches","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github.v3+json"},{"name":"Authorization","value":"token github_pat_REDACTED"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ event_type: 'remote-trigger', client_payload: { workflow: $json.workflow || '/health-check', branch: $json.branch || 'main', token: $json.token } }) }}","options":{},"infoMessage":""},"name":"TriggerGitHub","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[650,200],"id":"774e370d-7d4f-436a-b0da-aa45362e1142"}],"connections":{"Webhook":{"main":[[{"node":"ValidateToken","type":"main","index":0}]]},"ValidateToken":{"main":[[{"node":"TriggerGitHub","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{},"pinData":null},"customData":{}}],"nextCursor":"eyJsYXN0SWQiOiIzMDQiLCJsaW1pdCI6NX0="}