monitor_error.json
{"id":"318","finished":false,"mode":"trigger","retryOf":null,"retrySuccessId":null,"status":"error","createdAt":"2026-02-09T10:35:03.008Z","startedAt":"2026-02-09T10:35:03.020Z","stoppedAt":"2026-02-09T10:35:03.037Z","deletedAt":null,"workflowId":"Tv0z7QUCzTfgLDGq","waitTill":null,"data":{"version":1,"startData":{},"resultData":{"error":{"level":"warning","tags":{},"timestamp":1770633303036,"context":{"itemIndex":0,"request":{"headers":{"accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7"},"method":"GET","uri":"https://ironforge-coolify.tailafb692.ts.net/api/health","gzip":true,"rejectUnauthorized":true,"followRedirect":false,"resolveWithFullResponse":true,"timeout":300000,"encoding":null,"json":false,"useStream":true}},"functionality":"regular","name":"NodeApiError","node":{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"GET","url":"=https://ironforge-coolify.tailafb692.ts.net/api/health","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":false,"options":{},"infoMessage":""},"id":"b343ccfc-4365-491e-b8c3-8b0c6cf74db7","name":"Check Health API","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[240,32]},"messages":["SSL Issue: consider using the 'Ignore SSL issues' option"],"httpCode":null,"message":"SSL Issue: consider using the 'Ignore SSL issues' option","stack":"NodeApiError: SSL Issue: consider using the 'Ignore SSL issues' option\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts:859:16)\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1045:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1226:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1662:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2274:11"},"runData":{"Every 15 mins":[{"startTime":1770633303024,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[{"json":{"timestamp":"2026-02-09T10:35:03.003+00:00","Readable date":"February 9th 2026, 10:35:03 am","Readable time":"10:35:03 am","Day of week":"Monday","Year":"2026","Month":"February","Day of month":"09","Hour":"10","Minute":"35","Second":"03","Timezone":"UTC (UTC+00:00)"},"pairedItem":{"item":0}}]]}}],"Check Health API":[{"startTime":1770633303024,"executionIndex":1,"source":[{"previousNode":"Every 15 mins"}],"hints":[],"executionTime":12,"executionStatus":"error","error":{"level":"warning","tags":{},"timestamp":1770633303036,"context":{"itemIndex":0,"request":{"headers":{"accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7"},"method":"GET","uri":"https://ironforge-coolify.tailafb692.ts.net/api/health","gzip":true,"rejectUnauthorized":true,"followRedirect":false,"resolveWithFullResponse":true,"timeout":300000,"encoding":null,"json":false,"useStream":true}},"functionality":"regular","name":"NodeApiError","node":{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"GET","url":"=https://ironforge-coolify.tailafb692.ts.net/api/health","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":false,"options":{},"infoMessage":""},"id":"b343ccfc-4365-491e-b8c3-8b0c6cf74db7","name":"Check Health API","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[240,32]},"messages":["SSL Issue: consider using the 'Ignore SSL issues' option"],"httpCode":null,"message":"SSL Issue: consider using the 'Ignore SSL issues' option","stack":"NodeApiError: SSL Issue: consider using the 'Ignore SSL issues' option\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts:859:16)\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1045:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1226:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1662:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2274:11"}}]},"lastNodeExecuted":"Check Health API"},"executionData":{"contextData":{},"nodeExecutionStack":[{"node":{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"GET","url":"=https://ironforge-coolify.tailafb692.ts.net/api/health","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":false,"options":{},"infoMessage":""},"id":"b343ccfc-4365-491e-b8c3-8b0c6cf74db7","name":"Check Health API","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[240,32]},"data":{"main":[[{"json":{"timestamp":"2026-02-09T10:35:03.003+00:00","Readable date":"February 9th 2026, 10:35:03 am","Readable time":"10:35:03 am","Day of week":"Monday","Year":"2026","Month":"February","Day of month":"09","Hour":"10","Minute":"35","Second":"03","Timezone":"UTC (UTC+00:00)"},"pairedItem":{"item":0}}]]},"source":{"main":[{"previousNode":"Every 15 mins"}]}}],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1770633303023,"source":"trigger","triggerNode":{"name":"Every 15 mins","type":"n8n-nodes-base.scheduleTrigger"}}}},"workflowData":{"id":"Tv0z7QUCzTfgLDGq","name":"Monitoring Dashboard","active":true,"activeVersionId":"c97cdf0d-8f4d-4111-a78b-30ab228ea731","isArchived":false,"createdAt":"2026-02-08T09:14:12.273Z","updatedAt":"2026-02-09T08:51:52.727Z","nodes":[{"parameters":{"notice":"","rule":{"interval":[{"field":"minutes","minutesInterval":5}]}},"id":"22818fb3-1196-4e7a-a192-3dc4a4cc1c7d","name":"Every 15 mins","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[32,32]},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"GET","url":"=https://ironforge-coolify.tailafb692.ts.net/api/health","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":false,"options":{},"infoMessage":""},"id":"b343ccfc-4365-491e-b8c3-8b0c6cf74db7","name":"Check Health API","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[240,32]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.statusCode }}","operation":"equals","value2":200}]},"combineOperation":"all"},"id":"da9cfd02-9793-46cd-bb0a-df0f11fe2fcf","name":"Is Healthy?","type":"n8n-nodes-base.if","typeVersion":1,"position":[432,32]},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"GET","url":"https://discord.com/api/webhooks/1469991396373958688/4WDf2TawGhR_QQ0FY7xExCcTLZ3plj1O8wcVvG8pxvAHbr1jfQg4DqUiktyuAn1LIe05","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":false,"options":{},"infoMessage":""},"id":"84498432-0480-4212-8e4e-a180b62d5647","name":"Alert Discord/Slack","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[640,144]}],"connections":{"Every 15 mins":{"main":[[{"node":"Check Health API","type":"main","index":0}]]},"Check Health API":{"main":[[{"node":"Is Healthy?","type":"main","index":0}]]},"Is Healthy?":{"main":[[],[{"node":"Alert Discord/Slack","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Every 15 mins":{"recurrenceRules":[]}},"pinData":{}},"customData":{}}