n8n_payload.json
{
    "name": "IF Remote Trigger",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "ironforge-trigger",
                "options": {}
            },
            "id": "95be271a-5109-4a0b-bd9e-0fe8a7ca5943",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                -400,
                112
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.token }}",
                            "operation": "equals",
                            "value2": "={{ $env.REMOTE_TRIGGER_SECRET }}"
                        }
                    ]
                }
            },
            "id": "bbfa8fb0-90cf-43c6-a729-41be03cd58b6",
            "name": "Validate Token",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                -208,
                112
            ]
        },
        {
            "parameters": {
                "url": "https://api.github.com/repos/Techlemariam/IronForge/dispatches",
                "method": "POST",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Accept",
                            "value": "application/vnd.github.v3+json"
                        },
                        {
                            "name": "Authorization",
                            "value": "token REDACTED_TOKEN"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ event_type: 'remote-trigger', client_payload: { workflow: $json.workflow || '/health-check', branch: $json.branch || 'main', token: $json.token } }) }}",
                "options": {}
            },
            "id": "c21284a3-6375-4828-a9fb-2ca83ed5675e",
            "name": "Trigger GitHub Action",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { success: false, error: 'Invalid token' } }}",
                "options": {}
            },
            "id": "fe1930e2-e352-48cf-ad27-68377bf23591",
            "name": "Reject",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                0,
                208
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { success: true, workflow: $json.workflow, message: 'Workflow triggered successfully' } }}",
                "options": {}
            },
            "id": "d5e2e067-eace-4e3a-853e-43ff9399c26d",
            "name": "Success Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                208,
                0
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Validate Token",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Token": {
            "main": [
                [
                    {
                        "node": "Trigger GitHub Action",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Reject",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Trigger GitHub Action": {
            "main": [
                [
                    {
                        "node": "Success Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}