n8n_v7_fix.json
{
    "name": "IronForge Remote Trigger V3",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "ironforge-trigger",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "776e9ed4-b76f-40a2-b4d5-6701a66227c5"
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.token.trim() === 'IF_SECURE_TRIGGER_REDACTED' }}",
                            "value2": true
                        }
                    ]
                }
            },
            "name": "ValidateToken",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://api.github.com/repos/Techlemariam/IronForge/dispatches",
                "method": "POST",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Accept",
                            "value": "application/vnd.github.v3+json"
                        },
                        {
                            "name": "Authorization",
                            "value": "token REDACTED_TOKEN"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ event_type: 'remote-trigger', client_payload: { workflow: $json.workflow || '/health-check', branch: $json.branch || 'main', token: $json.token } }) }}",
                "options": {}
            },
            "name": "TriggerGitHub",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                650,
                200
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "ValidateToken",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "ValidateToken": {
            "main": [
                [
                    {
                        "node": "TriggerGitHub",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner"
    }
}