new_workflow.json
{
    "name": "IronForge Remote Trigger V3",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "ironforge-trigger",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "id": "d50742cb-9c13-4502-8c09-d381e399cf21"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.token }}",
                            "operation": "equals",
                            "value2": "IF_SECURE_TRIGGER_REDACTED"
                        }
                    ]
                }
            },
            "name": "ValidateToken",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                450,
                300
            ],
            "id": "11fc6cc1-21cc-4658-8bfd-a8eaa502545e"
        },
        {
            "parameters": {
                "url": "https://api.github.com/repos/Techlemariam/IronForge/dispatches",
                "method": "POST",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Accept",
                            "value": "application/vnd.github.v3+json"
                        },
                        {
                            "name": "Authorization",
                            "value": "token REDACTED_TOKEN"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ event_type: 'remote-trigger', client_payload: { workflow: $json.workflow || '/health-check', branch: $json.branch || 'main', token: $json.token } }) }}",
                "options": {}
            },
            "name": "TriggerGitHub",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                650,
                200
            ],
            "id": "88506f4f-0d1b-44ac-9c6f-b820b5af7bca"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "ValidateToken",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "ValidateToken": {
            "main": [
                [
                    {
                        "node": "TriggerGitHub",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "active": false,
    "versionId": "1f373262-c3aa-4bb1-bdea-bd1ab2e220a7",
    "id": "N6l6IZxtvbhnwS3x",
    "description": null,
    "staticData": null,
    "meta": null,
    "pinData": null,
    "activeVersionId": null,
    "updatedAt": "2026-02-09T10:04:31.674Z",
    "createdAt": "2026-02-09T10:04:31.674Z",
    "isArchived": false,
    "versionCounter": 1,
    "triggerCount": 0
}