workflow_fix.json
{
    "updatedAt": "2026-02-09T08:51:57.889Z",
    "createdAt": "2026-02-07T06:11:48.139Z",
    "id": "RgDX5gDwrj8gsKzw",
    "name": "IF Remote Trigger",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "ironforge-trigger",
                "options": {}
            },
            "id": "95be271a-5109-4a0b-bd9e-0fe8a7ca5943",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                -400,
                112
            ],
            "webhookId": "b393f991-493e-4132-b9e6-06cd75cca66e"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.token }}",
                            "operation": "equals",
                            "value2": "={{ $env.REMOTE_TRIGGER_SECRET }}"
                        }
                    ]
                }
            },
            "id": "bbfa8fb0-90cf-43c6-a729-41be03cd58b6",
            "name": "Validate Token",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                -208,
                112
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.github.com/repos/Techlemariam/IronForge/dispatches",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Accept",
                            "value": "application/vnd.github.v3+json"
                        },
                        {
                            "name": "Authorization",
                            "value": "token REDACTED_TOKEN"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "form-urlencoded",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "{\"event_type\": \"remote-trigger\", \"client_payload\": {\"workflow\": \"/health-check\", \"branch\": \"main\", \"secret\": \"2dNRs6PPJ*"
                        },
                        {
                            "name": "pIe\"}}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "c21284a3-6375-4828-a9fb-2ca83ed5675e",
            "name": "Trigger GitHub Action",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { success: false, error: 'Invalid token' } }}",
                "options": {}
            },
            "id": "fe1930e2-e352-48cf-ad27-68377bf23591",
            "name": "Reject",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                0,
                208
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { success: true, workflow: $json.workflow, message: 'Workflow triggered successfully' } }}",
                "options": {}
            },
            "id": "d5e2e067-eace-4e3a-853e-43ff9399c26d",
            "name": "Success Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                208,
                0
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Validate Token",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Token": {
            "main": [
                [
                    {
                        "node": "Trigger GitHub Action",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Reject",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Trigger GitHub Action": {
            "main": [
                [
                    {
                        "node": "Success Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "availableInMCP": true
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "d71d0320-49e5-41eb-be9b-a742a18c250f",
    "activeVersionId": "d71d0320-49e5-41eb-be9b-a742a18c250f",
    "versionCounter": 17,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-02-07T06:11:48.145Z",
            "createdAt": "2026-02-07T06:11:48.145Z",
            "role": "workflow:owner",
            "workflowId": "RgDX5gDwrj8gsKzw",
            "projectId": "xSv7yo2oxCZw4gZE",
            "project": {
                "updatedAt": "2026-02-07T22:51:26.091Z",
                "createdAt": "2026-02-04T22:07:22.992Z",
                "id": "xSv7yo2oxCZw4gZE",
                "name": "Alexander Teklemariam <alexander.teklemariam@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "918df8dd-28be-455c-af95-f541e364b1b4",
                "projectRelations": [
                    {
                        "updatedAt": "2026-02-04T22:07:22.992Z",
                        "createdAt": "2026-02-04T22:07:22.992Z",
                        "userId": "918df8dd-28be-455c-af95-f541e364b1b4",
                        "projectId": "xSv7yo2oxCZw4gZE",
                        "user": {
                            "updatedAt": "2026-02-09T07:11:41.000Z",
                            "createdAt": "2026-02-04T22:07:22.554Z",
                            "id": "918df8dd-28be-455c-af95-f541e364b1b4",
                            "email": "alexander.teklemariam@gmail.com",
                            "firstName": "Alexander",
                            "lastName": "Teklemariam",
                            "personalizationAnswers": {
                                "version": "v4",
                                "personalization_survey_submitted_at": "2026-02-04T22:14:56.083Z",
                                "personalization_survey_n8n_version": "2.1.5",
                                "companyType": "personal",
                                "reportedSource": "friend"
                            },
                            "settings": {
                                "userActivated": false
                            },
                            "disabled": false,
                            "mfaEnabled": false,
                            "lastActiveAt": "2026-02-09",
                            "isPending": false
                        }
                    }
                ]
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-02-07T23:02:15.000Z",
        "createdAt": "2026-02-07T06:41:35.544Z",
        "versionId": "d71d0320-49e5-41eb-be9b-a742a18c250f",
        "workflowId": "RgDX5gDwrj8gsKzw",
        "nodes": [
            {
                "parameters": {
                    "httpMethod": "POST",
                    "path": "ironforge-trigger",
                    "options": {}
                },
                "id": "95be271a-5109-4a0b-bd9e-0fe8a7ca5943",
                "name": "Webhook",
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 1,
                "position": [
                    -400,
                    112
                ],
                "webhookId": "b393f991-493e-4132-b9e6-06cd75cca66e"
            },
            {
                "parameters": {
                    "conditions": {
                        "string": [
                            {
                                "value1": "={{ $json.token }}",
                                "operation": "equals",
                                "value2": "={{ $env.REMOTE_TRIGGER_SECRET }}"
                            }
                        ]
                    }
                },
                "id": "bbfa8fb0-90cf-43c6-a729-41be03cd58b6",
                "name": "Validate Token",
                "type": "n8n-nodes-base.if",
                "typeVersion": 1,
                "position": [
                    -208,
                    112
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://api.github.com/repos/Techlemariam/IronForge/dispatches",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Accept",
                                "value": "application/vnd.github.v3+json"
                            },
                            {
                                "name": "Authorization",
                                "value": "token REDACTED_TOKEN"
                            }
                        ]
                    },
                    "sendBody": true,
                    "contentType": "form-urlencoded",
                    "bodyParameters": {
                        "parameters": [
                            {
                                "name": "{\"event_type\": \"remote-trigger\", \"client_payload\": {\"workflow\": \"/health-check\", \"branch\": \"main\", \"secret\": \"2dNRs6PPJ*"
                            },
                            {
                                "name": "pIe\"}}"
                            }
                        ]
                    },
                    "options": {}
                },
                "id": "c21284a3-6375-4828-a9fb-2ca83ed5675e",
                "name": "Trigger GitHub Action",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 3,
                "position": [
                    0,
                    0
                ]
            },
            {
                "parameters": {
                    "respondWith": "json",
                    "responseBody": "={{ { success: false, error: 'Invalid token' } }}",
                    "options": {}
                },
                "id": "fe1930e2-e352-48cf-ad27-68377bf23591",
                "name": "Reject",
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1,
                "position": [
                    0,
                    208
                ]
            },
            {
                "parameters": {
                    "respondWith": "json",
                    "responseBody": "={{ { success: true, workflow: $json.workflow, message: 'Workflow triggered successfully' } }}",
                    "options": {}
                },
                "id": "d5e2e067-eace-4e3a-853e-43ff9399c26d",
                "name": "Success Response",
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1,
                "position": [
                    208,
                    0
                ]
            }
        ],
        "connections": {
            "Webhook": {
                "main": [
                    [
                        {
                            "node": "Validate Token",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Validate Token": {
                "main": [
                    [
                        {
                            "node": "Trigger GitHub Action",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Reject",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Trigger GitHub Action": {
                "main": [
                    [
                        {
                            "node": "Success Response",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Alexander Teklemariam",
        "name": "Version d71d0320",
        "description": "",
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-02-07T23:02:15.465Z",
                "id": 1,
                "workflowId": "RgDX5gDwrj8gsKzw",
                "versionId": "d71d0320-49e5-41eb-be9b-a742a18c250f",
                "event": "activated",
                "userId": "918df8dd-28be-455c-af95-f541e364b1b4"
            },
            {
                "createdAt": "2026-02-09T08:51:57.939Z",
                "id": 5,
                "workflowId": "RgDX5gDwrj8gsKzw",
                "versionId": "d71d0320-49e5-41eb-be9b-a742a18c250f",
                "event": "activated",
                "userId": "918df8dd-28be-455c-af95-f541e364b1b4"
            }
        ]
    }
}