working_workflow.json
{"updatedAt":"2026-02-09T08:51:52.727Z","createdAt":"2026-02-08T09:14:12.273Z","id":"Tv0z7QUCzTfgLDGq","name":"Monitoring Dashboard","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"22818fb3-1196-4e7a-a192-3dc4a4cc1c7d","name":"Every 15 mins","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[32,32]},{"parameters":{"url":"=https://coolify.ironforge.com/api/health","options":{}},"id":"b343ccfc-4365-491e-b8c3-8b0c6cf74db7","name":"Check Health API","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[240,32]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.statusCode }}","operation":"equals","value2":200}]}},"id":"da9cfd02-9793-46cd-bb0a-df0f11fe2fcf","name":"Is Healthy?","type":"n8n-nodes-base.if","typeVersion":1,"position":[432,32]},{"parameters":{"url":"https://discord.com/api/webhooks/1469991396373958688/4WDf2TawGhR_QQ0FY7xExCcTLZ3plj1O8wcVvG8pxvAHbr1jfQg4DqUiktyuAn1LIe05","options":{}},"id":"84498432-0480-4212-8e4e-a180b62d5647","name":"Alert Discord/Slack","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[640,144]}],"connections":{"Every 15 mins":{"main":[[{"node":"Check Health API","type":"main","index":0}]]},"Check Health API":{"main":[[{"node":"Is Healthy?","type":"main","index":0}]]},"Is Healthy?":{"main":[[],[{"node":"Alert Discord/Slack","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Every 15 mins":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"c97cdf0d-8f4d-4111-a78b-30ab228ea731","activeVersionId":"c97cdf0d-8f4d-4111-a78b-30ab228ea731","versionCounter":18,"triggerCount":1,"shared":[{"updatedAt":"2026-02-08T09:14:12.285Z","createdAt":"2026-02-08T09:14:12.285Z","role":"workflow:owner","workflowId":"Tv0z7QUCzTfgLDGq","projectId":"xSv7yo2oxCZw4gZE","project":{"updatedAt":"2026-02-07T22:51:26.091Z","createdAt":"2026-02-04T22:07:22.992Z","id":"xSv7yo2oxCZw4gZE","name":"Alexander Teklemariam <alexander.teklemariam@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"918df8dd-28be-455c-af95-f541e364b1b4","projectRelations":[{"updatedAt":"2026-02-04T22:07:22.992Z","createdAt":"2026-02-04T22:07:22.992Z","userId":"918df8dd-28be-455c-af95-f541e364b1b4","projectId":"xSv7yo2oxCZw4gZE","user":{"updatedAt":"2026-02-09T07:11:41.000Z","createdAt":"2026-02-04T22:07:22.554Z","id":"918df8dd-28be-455c-af95-f541e364b1b4","email":"alexander.teklemariam@gmail.com","firstName":"Alexander","lastName":"Teklemariam","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-04T22:14:56.083Z","personalization_survey_n8n_version":"2.1.5","companyType":"personal","reportedSource":"friend"},"settings":{"userActivated":false},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-08T09:45:33.000Z","createdAt":"2026-02-08T09:45:27.576Z","versionId":"c97cdf0d-8f4d-4111-a78b-30ab228ea731","workflowId":"Tv0z7QUCzTfgLDGq","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"22818fb3-1196-4e7a-a192-3dc4a4cc1c7d","name":"Every 15 mins","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[32,32]},{"parameters":{"url":"=https://coolify.ironforge.com/api/health","options":{}},"id":"b343ccfc-4365-491e-b8c3-8b0c6cf74db7","name":"Check Health API","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[240,32]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.statusCode }}","operation":"equals","value2":200}]}},"id":"da9cfd02-9793-46cd-bb0a-df0f11fe2fcf","name":"Is Healthy?","type":"n8n-nodes-base.if","typeVersion":1,"position":[432,32]},{"parameters":{"url":"https://discord.com/api/webhooks/1469991396373958688/4WDf2TawGhR_QQ0FY7xExCcTLZ3plj1O8wcVvG8pxvAHbr1jfQg4DqUiktyuAn1LIe05","options":{}},"id":"84498432-0480-4212-8e4e-a180b62d5647","name":"Alert Discord/Slack","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[640,144]}],"connections":{"Every 15 mins":{"main":[[{"node":"Check Health API","type":"main","index":0}]]},"Check Health API":{"main":[[{"node":"Is Healthy?","type":"main","index":0}]]},"Is Healthy?":{"main":[[],[{"node":"Alert Discord/Slack","type":"main","index":0}]]}},"authors":"Alexander Teklemariam","name":"Version c97cdf0d","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-08T09:45:33.253Z","id":2,"workflowId":"Tv0z7QUCzTfgLDGq","versionId":"c97cdf0d-8f4d-4111-a78b-30ab228ea731","event":"activated","userId":"918df8dd-28be-455c-af95-f541e364b1b4"},{"createdAt":"2026-02-08T09:45:59.520Z","id":3,"workflowId":"Tv0z7QUCzTfgLDGq","versionId":"c97cdf0d-8f4d-4111-a78b-30ab228ea731","event":"activated","userId":"918df8dd-28be-455c-af95-f541e364b1b4"},{"createdAt":"2026-02-09T08:51:52.794Z","id":4,"workflowId":"Tv0z7QUCzTfgLDGq","versionId":"c97cdf0d-8f4d-4111-a78b-30ab228ea731","event":"activated","userId":"918df8dd-28be-455c-af95-f541e364b1b4"}]}}