workflow_check.json
{
    "updatedAt": "2026-02-09T09:53:02.000Z",
    "createdAt": "2026-02-07T06:11:48.139Z",
    "id": "RgDX5gDwrj8gsKzw",
    "name": "IF Remote Trigger",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
        {
            "id": "95be271a-5109-4a0b-bd9e-0fe8a7ca5943",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "position": [
                -400,
                112
            ],
            "parameters": {
                "path": "ironforge-trigger",
                "options": {},
                "httpMethod": "POST"
            },
            "typeVersion": 1
        },
        {
            "id": "bbfa8fb0-90cf-43c6-a729-41be03cd58b6",
            "name": "Validate Token",
            "type": "n8n-nodes-base.if",
            "position": [
                -208,
                112
            ],
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.token }}",
                            "operation": "equals",
                            "value2": "={{ $env.REMOTE_TRIGGER_SECRET }}"
                        }
                    ]
                }
            },
            "typeVersion": 1
        },
        {
            "id": "c21284a3-6375-4828-a9fb-2ca83ed5675e",
            "name": "Trigger GitHub Action",
            "type": "n8n-nodes-base.httpRequest",
            "position": [
                0,
                0
            ],
            "parameters": {
                "headerParameters": {
                    "parameters": [
                        {
                            "value": "application/vnd.github.v3+json",
                            "name": "Accept"
                        },
                        {
                            "value": "token REDACTED_TOKEN",
                            "name": "Authorization"
                        }
                    ]
                },
                "method": "POST",
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ event_type: 'remote-trigger', client_payload: { workflow: $json.workflow || '/health-check', branch: $json.branch || 'main', token: $json.token } }) }}",
                "url": "https://api.github.com/repos/Techlemariam/IronForge/dispatches",
                "sendHeaders": true,
                "options": {},
                "sendBody": true
            },
            "typeVersion": 3
        },
        {
            "id": "fe1930e2-e352-48cf-ad27-68377bf23591",
            "name": "Reject",
            "type": "n8n-nodes-base.respondToWebhook",
            "position": [
                0,
                208
            ],
            "parameters": {
                "responseBody": "={{ { success: false, error: 'Invalid token' } }}",
                "respondWith": "json",
                "options": {}
            },
            "typeVersion": 1
        },
        {
            "id": "d5e2e067-eace-4e3a-853e-43ff9399c26d",
            "name": "Success Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "position": [
                208,
                0
            ],
            "parameters": {
                "responseBody": "={{ { success: true, workflow: $json.workflow, message: 'Workflow triggered successfully' } }}",
                "respondWith": "json",
                "options": {}
            },
            "typeVersion": 1
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                {
                    "node": "Validate Token",
                    "type": "main",
                    "index": 0
                }
            ]
        },
        "Trigger GitHub Action": {
            "main": [
                {
                    "node": "Success Response",
                    "type": "main",
                    "index": 0
                }
            ]
        },
        "Validate Token": {
            "main": [
                [
                    {
                        "node": "Trigger GitHub Action",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Reject",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "availableInMCP": false,
        "callerPolicy": "workflowsFromSameOwner"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "e5247057-3487-4ed8-a7f2-5e611e04f111",
    "activeVersionId": null,
    "versionCounter": 25,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-02-07T06:11:48.145Z",
            "createdAt": "2026-02-07T06:11:48.145Z",
            "role": "workflow:owner",
            "workflowId": "RgDX5gDwrj8gsKzw",
            "projectId": "xSv7yo2oxCZw4gZE",
            "project": {
                "updatedAt": "2026-02-07T22:51:26.091Z",
                "createdAt": "2026-02-04T22:07:22.992Z",
                "id": "xSv7yo2oxCZw4gZE",
                "name": "Alexander Teklemariam <alexander.teklemariam@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "918df8dd-28be-455c-af95-f541e364b1b4",
                "projectRelations": [
                    {
                        "updatedAt": "2026-02-04T22:07:22.992Z",
                        "createdAt": "2026-02-04T22:07:22.992Z",
                        "userId": "918df8dd-28be-455c-af95-f541e364b1b4",
                        "projectId": "xSv7yo2oxCZw4gZE",
                        "user": {
                            "updatedAt": "2026-02-09T07:11:41.000Z",
                            "createdAt": "2026-02-04T22:07:22.554Z",
                            "id": "918df8dd-28be-455c-af95-f541e364b1b4",
                            "email": "alexander.teklemariam@gmail.com",
                            "firstName": "Alexander",
                            "lastName": "Teklemariam",
                            "personalizationAnswers": {
                                "version": "v4",
                                "personalization_survey_submitted_at": "2026-02-04T22:14:56.083Z",
                                "personalization_survey_n8n_version": "2.1.5",
                                "companyType": "personal",
                                "reportedSource": "friend"
                            },
                            "settings": {
                                "userActivated": false
                            },
                            "disabled": false,
                            "mfaEnabled": false,
                            "lastActiveAt": "2026-02-09",
                            "isPending": false
                        }
                    }
                ]
            }
        }
    ],
    "tags": [],
    "activeVersion": null
}