workflow_tmp.json
{"updatedAt":"2026-02-07T22:54:24.000Z","createdAt":"2026-02-04T22:19:37.437Z","id":"9Sw7r7tP7wQstiOb","name":"My workflow","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"ironforge-trigger","options":{}},"id":"a3ccbe9e-4392-4eb9-b157-0bcfd6d0413b","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-400,112],"webhookId":"776e9ed4-b76f-40a2-b4d5-6701a66227c5"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.token }}","operation":"equals","value2":"={{ $env.REMOTE_TRIGGER_SECRET }}"}]}},"id":"8f549bd5-0512-4bd0-96fb-c5ffd8da371d","name":"Validate Token","type":"n8n-nodes-base.if","typeVersion":1,"position":[-208,112]},{"parameters":{"url":"=https://api.github.com/repos/{{ $env.GITHUB_OWNER }}/{{ $env.GITHUB_REPO }}/dispatches","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github.v3+json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"event_type","value":"remote-trigger"},{"name":"client_payload","value":"={{ JSON.stringify({ workflow: $json.workflow || '/health-check', branch: $json.branch || 'main', token: $env.REMOTE_TRIGGER_SECRET }) }}"}]},"options":{}},"id":"527b163f-d23f-4d5a-8f75-96546f1233f8","name":"Trigger GitHub Action","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[0,0]},{"parameters":{"respondWith":"json","responseBody":"={{ { success: false, error: 'Invalid token' } }}","options":{}},"id":"36a905fb-7939-471c-8198-f5f4fdd98e63","name":"Reject","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[0,208]},{"parameters":{"respondWith":"json","responseBody":"={{ { success: true, workflow: $json.workflow, message: 'Workflow triggered successfully' } }}","options":{}},"id":"befe78b8-6b82-40ed-af35-41248eb8b657","name":"Success Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[208,0]}],"connections":{"Webhook":{"main":[[{"node":"Validate Token","type":"main","index":0}]]},"Validate Token":{"main":[[{"node":"Trigger GitHub Action","type":"main","index":0}],[{"node":"Reject","type":"main","index":0}]]},"Trigger GitHub Action":{"main":[[{"node":"Success Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"7a35845b-b5a3-4cd8-ac6b-fe40df00b284","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-02-04T22:19:37.445Z","createdAt":"2026-02-04T22:19:37.445Z","role":"workflow:owner","workflowId":"9Sw7r7tP7wQstiOb","projectId":"xSv7yo2oxCZw4gZE","project":{"updatedAt":"2026-02-07T22:51:26.091Z","createdAt":"2026-02-04T22:07:22.992Z","id":"xSv7yo2oxCZw4gZE","name":"Alexander Teklemariam <alexander.teklemariam@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"918df8dd-28be-455c-af95-f541e364b1b4","projectRelations":[{"updatedAt":"2026-02-04T22:07:22.992Z","createdAt":"2026-02-04T22:07:22.992Z","userId":"918df8dd-28be-455c-af95-f541e364b1b4","projectId":"xSv7yo2oxCZw4gZE","user":{"updatedAt":"2026-02-09T07:11:41.000Z","createdAt":"2026-02-04T22:07:22.554Z","id":"918df8dd-28be-455c-af95-f541e364b1b4","email":"alexander.teklemariam@gmail.com","firstName":"Alexander","lastName":"Teklemariam","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-04T22:14:56.083Z","personalization_survey_n8n_version":"2.1.5","companyType":"personal","reportedSource":"friend"},"settings":{"userActivated":false},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[],"activeVersion":null}