.agent/n8n/openclaw-trigger.json
{
    "name": "Remote OpenClaw Trigger",
    "settings": {},
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "openclaw-trigger",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "url": "http://100.117.44.51:18789/api/v1/session",
                "method": "POST",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameter": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer dev-token-123"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Create Session",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "url": "={{ 'http://100.117.44.51:18789/api/v1/session/' + $json.id + '/message' }}",
                "method": "POST",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameter": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer dev-token-123"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "text",
                            "value": "={{ $('Webhook').item.json.body.command || 'Run /status' }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Send Command",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                900,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Create Session",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Session": {
            "main": [
                [
                    {
                        "node": "Send Command",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}