docs/n8n-templates/scheduled-workflow-trigger.json
{
    "name": "IronForge Autonomous Workflow Trigger",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 2
                        }
                    ]
                }
            },
            "name": "Schedule: Daily 2 AM",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const crypto = require('crypto');\n\n// Configuration\nconst workflow = 'night-shift';\nconst model = 'gemini-2.5-flash';\nconst source = 'n8n-scheduled';\n\n// Create payload\nconst payload = {\n  workflow,\n  model,\n  source,\n  timestamp: new Date().toISOString()\n};\n\nconst payloadString = JSON.stringify(payload);\n\n// Generate HMAC signature\nconst secret = $env.WEBHOOK_SECRET || 'ironforge-webhook-secret';\nconst signature = crypto\n  .createHmac('sha256', secret)\n  .update(payloadString)\n  .digest('hex');\n\nreturn {\n  payload,\n  payloadString,\n  signature\n};"
            },
            "name": "Generate Payload & Signature",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:3030/webhook/trigger",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-Webhook-Signature",
                            "value": "={{ $json.signature }}"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": []
                },
                "specifyBody": "json",
                "jsonBody": "={{ $json.payloadString }}",
                "options": {}
            },
            "name": "HTTP Request: Trigger Workflow",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.success }}",
                            "value2": "true"
                        }
                    ]
                }
            },
            "name": "Check Success",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "message": "✅ Workflow triggered successfully\nWorkflow: {{ $json.workflow }}\nModel: {{ $json.model }}\nTask Path: {{ $json.taskPath }}",
                "options": {}
            },
            "name": "Success Notification",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 1,
            "position": [
                1050,
                200
            ]
        },
        {
            "parameters": {
                "message": "❌ Workflow trigger failed\nError: {{ $json.error }}",
                "options": {}
            },
            "name": "Error Notification",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 1,
            "position": [
                1050,
                400
            ]
        }
    ],
    "connections": {
        "Schedule: Daily 2 AM": {
            "main": [
                [
                    {
                        "node": "Generate Payload & Signature",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Payload & Signature": {
            "main": [
                [
                    {
                        "node": "HTTP Request: Trigger Workflow",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request: Trigger Workflow": {
            "main": [
                [
                    {
                        "node": "Check Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Success": {
            "main": [
                [
                    {
                        "node": "Success Notification",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Error Notification",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}